.category-button {
    padding: 1em;
    margin: 0.125em;
    border: none;
    border-radius: 0.5em;
    background-color: rosybrown;
}

.selected {
    background-color: lightpink
}
/* 
export default .category-button */